# -*- mode: conf-unix; -*-
{{ ansible_managed | comment }}
[Unit]
Description=Electrs {{ item.name }}
After=bitcoind-{{ item.name }}.service
Requires=bitcoind-{{ item.name }}.service

[Service]
Type=simple
WorkingDirectory={{ datadir}}electrs/{{ item.name }}
ExecStart=/usr/bin/electrs --conf {{ item.name }}-conf.toml
User=bitcoin
Group=bitcoin
TimeoutSec=60
Restart=on-failure
RestartSec=600

# Hardening measures
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
