---
- name: Install logwatch
  pacman:
    state: present
    name:
      - logwatch
      - perl-date-manip

- name: Configure logwatch
  template: src=logwatch.conf.j2 dest=/etc/logwatch/conf/logwatch.conf

- name: Install Collectd
  pacman:
    state: present
    name:
      - collectd
      - rrdtool
      - lm_sensors
  tags:
    - monitoring

- name: Install python dependencies for collectd
  pacman:
    state: present
    name:
      - python-pip
      - python-lxml
      - python-requests
  tags:
    - monitoring

- name: Install fritzbox monitoring for collectd
  pip:
    name:
      - fritzcollectd
  when: inventory_hostname in groups['raspberry']

- name: Copy collectd configuration file
  template: src=collectd.conf.j2 dest=/etc/collectd.conf
  notify: restart collectd
  tags:
    - monitoring

- name: Enable and start rrdcached
  service: name=rrdcached.service enabled=yes state=started
  tags:
    - monitoring

- name: Enable and start collectd
  service: name=collectd.service enabled=yes state=started
  tags:
    - monitoring

- name: Set firewall rule for collectd
  ufw: rule=allow port=25826 proto=udp
  tags: ufw
  when: inventory_hostname in groups['raspberry']
