#! /bin/bash

backup_local(){
    # external program to supply the passphrase:
    export BORG_PASSCOMMAND="pass show $1" # repo pass first arg

    # Create Local Backups
    echo $( date ) "Creating Local Backups ..."
    REPOSITORY=$2 # repo vault path second arg
    shift 2 # consume the first 2 arguments
    borg create --list --filter AME --stats --compression=lz4 \
        --progress --exclude '*.pyc' \
        --exclude '*/.mypy_cache/' \
        --exclude '*/.notmuch' \
        --exclude '*/node_modules' \
        --exclude '*/venv/' \
        --exclude '*/.tox/' \
        --exclude '*.elc' \
        $REPOSITORY::'{hostname}-{user}-{utcnow:%Y-%m-%dT%H:%M:%S}' \
        $@ # all the dirs to bac

    # Prune Local Backups
    echo $( date ) "Pruning local repository ..."

    borg prune --verbose --stats --list \
        --keep-daily 7 \
        --keep-weekly 4 \
        --keep-monthly 6 $REPOSITORY
}

backup_local {{ backup.local.pass }} {{ backup.local.vault }} {{ backup.local.dirs }}
