{{ ansible_managed | comment }}

[Unit]
Description=Cardano node {{ item.desc }}
Requires=network.target

[Service]
Type=simple
ExecStart=cardano-node run \
    --database-path "/var/lib/{{ cardano_user }}-node/db-{{ item.name }}" \
    --socket-path "/run/{{ cardano_user }}-node/{{ item.name }}.socket" \
    --port {{ item.port }} \
    --config "/var/lib/{{ cardano_user }}-node/config/{{ item.name }}-config.json"  \
    --topology "/var/lib/{{ cardano_user }}-node/config/{{ item.name }}-topology.json"
KillSignal=SIGINT
Restart=always
RestartSec=60
TimeoutStopSec=600

# Directory creation and permissions
####################################

# Run as {{ cardano_user }}:{{ cardano_user }}
User={{ cardano_user }}
Group={{ cardano_user }}

# /run/{{ cardano_user }}
RuntimeDirectory={{ cardano_user }}-node
RuntimeDirectoryMode=0710

# /var/lib/{{ cardano_user }}
StateDirectory={{ cardano_user }}-node
StateDirectoryMode=0710

[Install]
WantedBy=multi-user.target
